@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

$red: #FC4747;
$black: #10141E;
$greyBlue: #5A698F;
$darkBlue: #161D2F;
$white: #FFFFFF;

$transition: all 0.2s ease-out;

$Font: 'Outfit', sans-serif;

@mixin delay($rule, $number, $value) {
    @for $i from 1 to ($number + 1) {
        &:nth-child(#{$i}) {
            -webkit-#{$rule}-delay: (#{$i*$value});
            #{$rule}-delay: (#{$i*$value});
        }
    }
}
