@import "_Config.scss";

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $darkBlue;
    border-radius: 20px;
    width: 6rem;
    height: calc(100vh - 4rem);
    padding: 1.8rem;
    margin-right: 2.25rem;

    .nav-links {
        flex-grow: 1;
        justify-self: flex-start;
        padding-top: 4.7rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        img {
            transition: $transition;
        }

        & img:hover {
            filter: brightness(0) invert(1);
        }
    }

    .active-link {
        filter: brightness(0) invert(1);
    }
}
