@inherits FluxorComponent
@inject IState<MediaState> MediaState
@inject StateFacade Facade

<div class="search-component">
    <img class="search-icon" src="Assets/icon-search.svg" alt=""/>
    <input class="input-field" type="text" placeholder="Search for movies or TV series"
           @bind="SearchWord" @bind:event="oninput"/>
</div>

@code {
    [Parameter]
    public string? SearchWord { get; set; } = "";

    
    protected override void OnInitialized()
    {
        if (MediaState.Value.Medias is null)
        {
            Facade.LoadMedia();
        }

        base.OnInitialized();
    }   
}
