@page "/bookmarked"
@inherits FluxorComponent
@inject IState<MediaState> MediaState
@inject StateFacade Facade

@if (MediaState.Value.IsLoading)
{
    <span>Loading...</span>
}

else if (MediaState.Value.HasCurrentErrors)
{
    <span>Whoops! Looks like an issue occurred loading BookMarks :(</span>
}
else if (!(MediaState.Value.Medias is null) && MediaState.Value.Medias.Any())
{

    @foreach (var media in MediaState.Value.Medias.Where(x=>x.isBookmarked))
    {
        <p>@media.title</p>
        <button @onclick="() => RemoveBookMarked(media)">remove</button>
    }
}

@code {

    private void RemoveBookMarked(Media media)
    {
        media.isBookmarked = false;
    }

}
