@page "/bookmarked"
@inherits FluxorComponent
@inject IState<MediaState> MediaState

<SearchComponent SearchWord="@SearchWord" Placeholder="Search for bookmarked shows"/>

<h2 class="movies">Bookmarked Movies</h2>
<MediaComponent SearchWord="@SearchWord" MovieCategory="Movie" TvCategory="null" Media="MediaState.Value.Medias.Where(m=>m.isBookmarked)"/>

<h2 class="movies">Bookmarked TV Series</h2>
<MediaComponent SearchWord="@SearchWord" MovieCategory="null" TvCategory="TV Series" Media="MediaState.Value.Medias.Where(m=>m.isBookmarked)"/>

@code {
    private string? SearchWord { get; set; } = string.Empty;
}
