@page "/bookmarked"
@inherits FluxorComponent

<SearchComponent SearchWord="@SearchWord" Placeholder="Search for bookmarked shows"/>

<h2 class="movies">Bookmarked Movies</h2>
<MediaComponent SearchWord="@SearchWord" MovieCategory="Movie" TvCategory="null"/>

<h2 class="movies">Bookmarked TV Series</h2>
<MediaComponent SearchWord="@SearchWord" MovieCategory="null" TvCategory="TV Series"/>

@code {
    private string? SearchWord { get; set; } = string.Empty;
}
