@page "/movies"
@inherits FluxorComponent
@inject IState<MediaState> MediaState

<div class="search-component">
    <img class="search-icon" src="Assets/icon-search.svg" alt="search" />
    <input class="input-field" type="text" placeholder="Search for movies"
           @bind-value="SearchWord" @bind-value:event="oninput" />
</div>

@if (SearchWord == string.Empty)
{
    <MediaComponent Heading="Movies" SearchWord="@SearchWord" MovieCategory="Movie" TvCategory="null"/>
}
else
{
    <h2 class="recommended">
        Found
        <span>@MediaState.Value.Medias.Count(m => m.title.ToLowerInvariant().Contains(SearchWord.ToLowerInvariant()) && m.category == "Movie") results for ‘@SearchWord’</span>
    </h2>
    <div class="search-result">
        <SearchResultComponent SearchWord="@SearchWord" MovieCategory="Movie"/>
    </div>
}

@code {
    private string? SearchWord { get; set; } = string.Empty;
}
