@page "/series"
@inherits FluxorComponent
@inject IState<MediaState> MediaState

<div class="search-component">
    <img class="search-icon" src="Assets/icon-search.svg" alt="search" />
    <input class="input-field" type="text" placeholder="Search for TV series"
           @bind-value="SearchWord" @bind-value:event="oninput" />
</div>

@if (SearchWord == string.Empty)
{
    <h2 class="movies">TV Series</h2>
    <MediaComponent SearchWord="@SearchWord" MovieCategory="null" TvCategory="TV Series" IsBookmarked="true" NotBookmarked="false" />

}
else
{
    <h2 class="recommended">
        Found
        <span>@MediaState.Value.Medias.Count(m => m.title.ToLowerInvariant().Contains(SearchWord.ToLowerInvariant()) && m.category == "TV Series" && m.isTrending == false) results for ‘@SearchWord’</span>
    </h2>
    <div class="search-result">
        <MediaComponent SearchWord="@SearchWord" MovieCategory="null" TvCategory="TV Series" IsBookmarked="true" NotBookmarked="false" />
    </div>
}

@code {
    private string? SearchWord { get; set; } = string.Empty;
}