@page "/series"
@inherits FluxorComponent
@inject IState<MediaState> MediaState

<SearchComponent SearchWord="@SearchWord" Placeholder="Search for movies"/>
<h2 class="movies">Movies</h2>
<MediaComponent SearchWord="@SearchWord" MovieCategory="null" TvCategory="TV Series" Media="MediaState.Value.Medias"/>

@code {
    private string? SearchWord { get; set; } = string.Empty;
}