@page "/series"
@inherits FluxorComponent

<SearchComponent SearchWord="@SearchWord" Placeholder="Search for movies"/>
<h2 class="movies">Movies</h2>
<MediaComponent SearchWord="@SearchWord" MovieCategory="null" TvCategory="TV Series"/>

@code {
    private string? SearchWord { get; set; } = string.Empty;
}